
.wave {
  position: relative;
  z-index: -1;
  width: 100vw;
  height: 100%;
}

.wave.waveFlipped {
  transform: scaleX(-1) !important;
}

.wave.waveContact {
  background: #FFEFF2;
}
.wave.waveContact path {
  fill: #EEFFFB;
}


