


.sectionProjects .quotes {
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-top: 30px;
}

.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}








.projectShowcaseDesign {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}
.projectShowcaseDesign img {
  flex: auto;
  width: 100%;
}
.projectShowcaseDesign h3.text {
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}
.projectShowcaseDesign h3.text span {
  font-size: smaller;
  text-transform: none;
  display: block;
  font-weight: normal;
}

.showcase {
  margin-top: 60px;
}
.showcase img {
  width: 100%;
}
.showcase.web.piggy {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.showcase.web.piggy img {
  width: 100%;
}
.showcase.web.piggy img:nth-child(3), .showcase.web.piggy img:nth-child(4) {
  display: none;
}
.showcase.web {
  margin-top: 60px;
}




@media all and (min-width: 600px) {

  .sectionProjects .quotes {
    padding: 0px;
    width: 90%;
    margin: 30px auto 0;
  }

  .showcase.web {
    margin-top: 70px;
  }
}




@media all and (min-width: 750px) {

  .showcase.web.piggy img {
    width: 45%;
    margin: 14px;
  }
  .showcase.web.piggy img:nth-child(3), .showcase.web.piggy img:nth-child(4) {
    display: block;
  }

}

@media all and (min-width: 960px) {

  .sectionProjects .quotes {
    width: 85%;
    margin-top: 50px;
  }

  .showcase.web {
    display: flex;
    justify-content: space-evenly;
    margin-left: 190px;
  }

  .projectWrapper {
    width: 90%;
    margin: auto;
  }

  .projectShowcaseDesign {
    flex-direction: row;
    margin: 50px auto;
    justify-content: space-around;
  }
  .projectShowcaseDesign img {
    flex: 0 0 76%;
    max-width: 76%;
  }
  .projectShowcaseDesign picture {
    display: flex;
    flex: 0 0 76%;
  }
  .projectShowcaseDesign picture img {
    max-width: unset;
    flex: none;
  }
  .projectShowcaseDesign h3.text {
    flex: 0 0 auto;
  }


}

@media all and (min-width: 1200px) {

  .sectionProjects .quotes {
    max-width: 1150px;
  }

  .projectWrapper {
    max-width: 1150px;
  }

  .projectShowcaseDesign {
    margin: 90px auto;
    max-width: 1150px;
  }
}