.hero {
  position: relative;
}
/* .hero .name {
  display: none;
  opacity: 0;
  visibility: hidden;
} */

  .hero .name {
    width: 100%;
    height: 130px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: end;
    align-content: center;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s 0s ease-out;
    margin-top: 24px;
  }
  .hero .name .letter {
    width: auto;
    height: 74%;
  }
  .hero .name .letter.first {
    height: 90%;
  }
  .hero .name .letter.high {
    height: 100%;
  }
  .hero .name .letter img {
    height: 100%;
  }


.hero .motto {
  width: 100%;
  margin: 40px auto;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero .mottoText {
  font-size: 1em;
}
.hero .mottoBgFlower {
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 40px;
  margin: 0 10px;
}
.hero .mottoBgFlower:nth-child(1) {
  background-image: url("/design/img/canvas/flower4.png");
}
.hero .mottoBgFlower:nth-child(3) {
  background-image: url("/design/img/canvas/flower3.png");
}

@media all and (min-width: 600px) {

  .hero .name {
    padding-left: 30px;
  }
  
  .hero .motto {
    width: 80%;
    padding-left: 30px;
  }
  .hero .mottoText, .hero .mottoBgFlower {
    margin-top: 30px;
  }
  .hero .mottoBgFlower {
    width: 40px;
    height: 40px;
  }
}

@media all and (min-width: 750px) {
  .hero .name {
    width: 100%;
    height: 160px;
    padding-left: 60px;
    margin-top: 40px;
  }
  .hero .motto {
    width: 100%;
    padding-left: 50px;
  }
  .hero .mottoBgFlower {
    width: 30px;
    height: 30px;
  }
}

@media all and (min-width: 960px) {
  .hero .name {
    margin: 54px auto 0;
    height: 210px;
  }
  .hero .mottoText, .hero .mottoBgFlower {
    margin-top: 50px;
  }
}

@media all and (min-width: 1200px) {
  .hero .name {
    margin: 50px auto 0;
  }
}