.sectionDescription {
  box-shadow: 0px 0px 35px 20px #FFF0E7;
  padding: 20px 30px;
  width: 100%;
  border-radius: 20px;
  margin: auto;
  background-color: white;
  text-align: justify;
}

.sectionDescription.peach {
  box-shadow: 0px 0px 35px 20px #FFF0E7;
}

.sectionDescription.rose {
  box-shadow: 0px 0px 35px 20px #FFEFF2;
}

.sectionDescription .title {
  font-family: "Quattrocento", serif;
  font-weight: bold;
  font-size: 1.3em;
}

@media all and (min-width: 600px) {
  .sectionDescription {
    padding: 20px 28px;
  }
}

@media all and (min-width: 960px) {
  .sectionDescription {
    width: 80%;
  }
}

@media all and (min-width: 1200px) {
  .sectionDescription {
    width: 850px;
  }
}

