.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 100%;
  text-decoration: none;
  color: black;
  background-color: white;
  margin-bottom: 40px;
  line-height: 2em;

}
.post .textWrapper {
  width: 100%;
  flex: 1 0 auto;
  text-align: left;
}

.post .postTitle {
  color: #FB8096;
  letter-spacing: 0.02em;
  margin: 10px 0;
  font-family: "Quattrocento", serif;
  font-size: 1.3em;
}
.post .postTitle:hover {
  color: black;
}
.post .postSubtitle {
  margin-top: 0px;
  line-height: 24px;
}

@media all and (min-width: 600px) {
  .post {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 16px;
  }
  .post .textWrapper {
    width: 80%;
    padding: 10px 50px 10px 0px;
  }
  .post .postPublication {
    width: 20%;
  }
}