.designPage {

  color: #333;
  font-size: 1em;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 300;
  line-height: 30px;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: hidden;
  /*  ======= colors by default ======= */
  --color: #FFD2D7;
  --color-b: #FFA0AB;
  /*  ======= Loader ======= */
  /*  ======= Selected text, highlight:  ======= */
  /*  ======= Formatters ======= */


  .hero {}

  .intro {}

  .projects {}

  .illustration {}

}