.designPage {
  color: #333;
  font-size: 1em;
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  line-height: 30px;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  --colorRoseLight: #FFD2D7;
  --colorRose: #FFA0AB;
  --colorRoseDark: #FB8096;
}


/* Arrow Up */
.designPage .arrowUp {
  position: fixed;
  bottom: 0px;
  left: -80px;
  height: auto;
  z-index: 3;
  cursor: pointer;
  transition: all 0.5s 0s ease-in-out;
}
.designPage .arrowUp.visible {
  left: 4px;
}
.designPage .arrowUp .buttonGoUp {
  /* width: 48px; */
  /* width: 70px; */
  transform: rotate(180deg);
  cursor: pointer;
  width: 100%;
  position: absolute;
  bottom: -180px;
  text-align: center;
  z-index: 0;

}
.designPage .arrowUp .buttonGoUp:hover {
  box-shadow: 0px 0px 20px 10px #FFEFF2;
  border-radius: 50%;
}



.designPage ::-moz-selection {
  background-color: #ffebf2;
}
.designPage ::selection {
  background-color: #ffebf2;
}
.designPage p {
  margin-top: 12px;
}
.designPage b {
  font-weight: bold;
}






.designPage main {
  width: 100vw;
  margin-top: 64px;
  position: relative;
}
.designPage .progressBar {
  height: 6px;
  width: 100vw;
  visibility: hidden;
  opacity: 0;
  background-color: var(--colorRose);
  z-index: 9999;
  position: fixed;
  top: 0px;
  animation: slideInFromLeft 2.3s 1 ease-in-out, fadeIn 0s 1 forwards;
}

.designPage .wrapperFullContent {
  margin-top: 90px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.gradientToTop {
  width: 100vw;
  height: 90px;
  background: #ffeff2;
  background: -moz-linear-gradient(0deg, #ffeff2 0%, white 100%);
  background: -webkit-linear-gradient(0deg, #ffeff2 0%, white 100%);
  background: linear-gradient(0deg, #ffeff2 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffeff2",endColorstr="#ffffff",GradientType=1);
}






@media all and (min-width: 600px) {
  .designPage main {
    margin-top: 60px;
  }
  .designPage .arrowUp span {
    bottom: 70px;
    left: -21px;
    width: 80px;
  }
}
@media all and (min-width: 750px) {
  .designPage .arrowUp {
    display: block;
  }
  .designPage .arrowUp span {
    bottom: 130px;
    left: -13px;
    width: 80px;
  }
  .designPage .arrowUp img {
    width: 62px;
  }

  .wrapperFullContent {
    margin-top: 100px;
  }
  .gradientToTop {
    height: 120px;
  }
}
@media all and (min-width: 960px) {
  .designPage {
    font-size: 1.1em;
    line-height: 34px;
  }
  .designPage main {
    margin-top: 72px;
  }
}
